body {
  background-color: #1687a7;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: purple;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: red;
  text-decoration: underline;
}

h3 {
  color: lime;
  padding-left: 10px;
}

a{
  text-decoration: none;
  color: white;
}

.middle-container{
  background-color: yellow;
 display: inline-block;
 position: absolute;
 left: 21em;
 border: solid;
 border-color: white;
 height: 143px;
}
.secmiddle-container{
background-color: orange;
display: inline-block;
position: relative;
bottom: 1em;
border-color: black;
border: solid;
}
